@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    padding: 20px;
}

.header-container {
    display: flex;
    align-items: center;
    margin: 0 60px;
}

.logo {
    color: #F9FAF8;
    font-size: 26px;
    font-weight: bold;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
    margin-left: auto;
}

ul a {
    color: #F9FAF8;
    font-size: 18px;
}

.hero {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: auto;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 95%;
    min-height: 80%;
    padding: 30px;
}

.site-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
    width: 30%;
}

.site-info .title {
    font-size: 48px;
    font-weight: bold;
}

.site-info .descr {
    font-size: 18px;
    color: #E5E7EB;
    width: 75%;
}

.site-info .btn1 {
    width: 120px;
    padding: 8px;
    background-color: #3882F6;
    border: 1px solid #3882F6;
    border-radius: 10px;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 16px;
}

.hero-image {
    height: 250px;
    width: 30%;
    background-color: rgb(120, 128, 146);
    border: 1px solid rgb(120, 128, 146);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 40vh;
    margin: 60px;
}

.info-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    width: 90%;
    height: 95%;
}

.info-title {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.cards {
    display: flex;
    justify-content: space-between;
    height: 90%;
    width: 80%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 90%;
}

.illustration {
    width: 70%;
    height: 80%;
    border: 3px solid #3882F6;
    border-radius: 8px;
}

.subtext {
    width: 50%;
    text-align: center;
    font-size: 16px;
    color: rgb(121, 120, 120);
}

.quote-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
    height: 40vh;
    gap: 10px;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    width: 60%;
}

.author {
    display: flex;
    justify-content: flex-end;
    width: 60%;
    color: #1F2937;
    font-size: 20px;
    font-weight: bold;
}

.signup {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-card {
    width: 70%;
    height: 40%;
    background-color: #3882F6;
    border: 1px solid #3882F6;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 400px;
}

.signup-info {
    color: #F9FAF8;
}


.signup-title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 6px;
}

.signup-button button {
    width: 120px;
    padding: 8px;
    background-color: #3882F6;
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}